node_modules
**/node_modules
npm-debug.log*
.next
**/.next
out
**/out
build
**/build
dist
**/dist
.cache
**/.cache
.DS_Store
.git
.gitignore
.vscode
.idea
coverage
**/coverage
.env
.env.*
**/.env
**/.env.*
*.log
*.tsbuildinfo
**/*.tsbuildinfo
Dockerfile
.dockerignore
.turbo
**/.turbo
*.pem